/*
 *  DT173G - Projekt (Notes)
 *  Fredrik Blank
 */
body, div, p, span {
  margin: 0;
  padding: 0; }

textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 100%; }

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  background: #f3f3f3; }

.text-center {
  text-align: center; }

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

hr {
  border: 0;
  height: 1px;
  background: #ccc; }

img.responsive {
  max-width: 100%;
  height: auto; }

.form-item-container {
  margin-bottom: 1em; }
  .form-item-container label {
    display: block;
    margin-bottom: .3em; }

.form-item {
  width: 100%;
  padding: 1em;
  border: 1px solid #eee; }

.widget-area {
  background: #fff;
  padding: 1em;
  box-shadow: 1px 2px 1px 2px #eee;
  min-height: 50vh; }

.pane {
  position: fixed;
  bottom: 0;
  min-height: 80px;
  background: #666;
  width: 100%;
  z-index: 90; }
  .pane .pane-content {
    display: flex;
    justify-content: space-around;
    align-items: baseline; }

.note {
  min-width: 200px;
  max-width: 400px;
  min-height: 100px;
  background: #e6d36a;
  display: inline-block;
  margin-left: .5em;
  margin-right: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: .5em;
  border-radius: 2px;
  z-index: 99; }
  .note .note-editor {
    xborder: 1px solid red;
    visibility: hidden; }
    .note .note-editor textarea {
      min-height: 100px; }
