
/*
 *  DT173G - Projekt (Notes)
 *  Fredrik Blank
 */

//Reset
@import 'reset';

//Fonts
$fonts: Arial, Helvetica, sans-serif;
$font-size: 13px;

@mixin box-sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

textarea {
    @include box-sizing();
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

input[type=text], input[type=submit], button {
    @include box-sizing();
    border-radius: 3px;
}

html, body {
    font-family: $fonts;
    font-size: $font-size;
    background: #f3f3f3;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #666;
}

.text-center {
    text-align:center;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    max-width: 480px;

    button {
        background: #e6d36a;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
}

img.responsive {
    max-width: 100%;
    height: auto;
}

.form-item-container {
    margin-bottom: 1em;
    
    label {
        display: block;
        margin-bottom: .3em;
    }
}

.form-item {
    width: 100%;
    padding: 1em;
    border: 1px solid #eee;
}

.widget-area {
    background: #fff;
    padding: 1em;
    box-shadow: 1px 2px 1px 2px #eee;
    min-height: 50vh;
}

.pane {
    position:fixed;
    bottom:0;
    background:#666;
    width:100%;
    z-index: 90;
    padding-top: 1em;
    padding-bottom: 1em;

    .pane-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #trash-bin, a {
        color: #fafafa;
        font-size: 3em;
    }
}

.note {
    min-width: 200px;
    max-width: 250px;
    min-height: 100px;
    background: #e6d36a;
    display: inline-block;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .5em;
    border-radius: 2px;
    z-index: 99;

    .note-editor {
        visibility: hidden;

        textarea {
            min-height: 100px;
        }
    }
}


@media screen and (max-width: 600px) {
    .note {
        max-width: initial;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        padding-left: .5em;
        padding-top: .5em;
    }

    .pane {
        position: static;
    }
}